<style>
    *{
        margin:0;
        border:0;
        padding:0;
        box-sizing:border-box;
        font-family: "Roboto";
    }
    .explainthis{
        font-size:8px;
        width:450px;
        color:black;
        margin:auto;
    }
    .cprtimg{
        width:9px;
    }
    .margtitle{
        width:100%;
        margin: 0;
        background-color: red;
    }
    .title{
        color:white;
        background-color: red;
        width:100%;
    }
    .container{
        width:450px;
        background:#46a23b;// #30d61c;
        margin:auto;
        text-align:center;
        padding-bottom:35px;
    }
    .button-reinit{
        background:black;
        border-radius:3px/3px;
        padding:4px;
        color:white;
        width:350px;
        text-align:center;
        margin:auto;
        text-decoration:none;
    }
    .paragraphe-court{
        margin:10px;
        color:white;
        text-align:left;
        font-weight:800;
    }
    .img-reinit{
        width:448px;
        margin:auto;
    }
    .img-r2{
        width:320px;
        margin:10px 65px 10px 65px;
    }
    .img-logo1{
        width:50px;
        margin-left:75px;
        margin-top:-65px;
    }
    .link{
        background-color:red;
        border-radius:7px/7px;
        color:white;
        text-decoration:none;
        padding:10px;
        font-weight:800;
    }
    .img-logo{
        width:50px;
        margin:10px 5px -30px 395px;
    }
    .desinscription{
    	font-size:8px;
    	margin: 50px auto 25px auto;
    	color: black;
    	width:450px;
    }
    .link-desinscription{
    	font-size:8px;
    	color: black;
    	text-decoration :underline;
    }
    .underl{
        text-decoration:underline;
    }
    .ticket{
        transform: rotate(-0.25turn);
        font-size:10px;
        font-weight: 300;
        color:red;
        margin: -300px auto 300px 29%;
        width:600px;
    }
</style>
<br>
<div class="explainthis">PmuAlgoMath est un algorithme PHP codé par Vincent Nguyen, développeur Backend, en 2023<br>
Copyright<img src="https://pmualgomath.com/images/copyright.png" class="cprtimg"/>PmuAlgoMath <img src="https://pmualgomath.com/images/copyright.png" class="cprtimg"/>Vincent Nguyen</div>
<br>
<div class="container">
    <img src="https://pmualgomath.com/images/course5.png" class="img-reinit"/>
    <br>
    <div class="margtitle"><br><h1 class="title">PAM - PmuAlgoMath<br>
    Pronostiqueur par Grille,<br>
    vous aide à trouver les bonnes combinaisons</h1><br></div>
    <div class="paragraphe-court">
    Ceci n'est pas un spam...<br><br>
    Découvrez la puissance du pronostiqueur personnalisable PmuAlgoMath !<br><br>
    Je cherchais un moyen de me dépenser et trouver une nouvelle motivation à ce qui pourrait être une autre vie ...<br><br>
    Je me tâtais entre faire preuve de renouveau ou me consacrer à ma passion: Les Courses de chevaux !<br><br>
    J'adore les chevaux et leurs tenues...<br>
    Leurs puissances, leurs robes...<br>
    Leurs blasons...<br><br>
    Ils portent les couleurs des entités françaises depuis des siècles et ont participés au développement de tout ordre de l'humanité...<br><br>
    <span class="underl">Maintenant je veux les comprendre:</span><br><br>
    <img src="https://pmualgomath.com/images/hp-03.webp" class="img-r2"/>
    <img src="https://pmualgomath.com/images/dev-logo-512.png" class="img-logo1"/>
    <br><span class="underl">Les analyser:</span><br><br>
    Je décide d'essayer de devenir un turfiste, un étudiant de ces chevaux et de leurs secrets !<br><br>
    Je <span class="underl">trouverai les bonnes combinaisons</span> des courses:<br><br>
    Avec la configuration des grilles PAM, <span class="underl">c'est possible</span>...<br><br>
    J'utiliserai ce service pour celà !<br>
    <div class="ticket">PMU ticket for win - Know where you go - Know more about yourself - Adopt a true life</div>
    </div>
    <br><br>
    <a class="link" href="https://pmualgomath.com/landing/accueil">Voir PAM</a>
    <br><br>
    <img src="https://pmualgomath.com/images/dev-logo-512.png" class="img-logo"/>
</div>
<div class="desinscription">Vous ne voulez plus recevoir de courriel de la part de PmuAlgoMath: <a class="link-desinscription" href="https://pmualgomath.com/ea13af6ddd2b3e44fcd28defe1f1e2dc89ff?idfert=Escfrtbnvgfbh001235201p">Se désinscrire</a></div>
